{% extends 'base.html' %}
{% block title %} Authors Page {% endblock %}
{% block content %}
<div class="position-relative">
   {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
            <div class="alert alert-{{ messages[0][0] }} alert-dismissible fade show position-absolute top-0 start-0 end-0 z-3" role="alert" style="margin: 0;"> <!-- Added position absolute and top/left/right styles-->
                 {{ messages[0][1] }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
      {% endif %}
   {% endwith %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <li class="nav-item">
           <a href="{{ url_for('menu') }}" class="nav-link"><i class="fas fa-bars"></i> Menu</a>
          </li>
       </ul>
       <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a href="/" class="btn btn-danger">
                <i class="fas fa-sign-out-alt"></i> Logout
            </a>
        </li>
      </ul>
    </div>
</nav>
</div>


<h1 align="center">All Authors in the library</h1>


<div class="container my-4">
    <form method="GET" action="{{ url_for('authors') }}" class="d-flex justify-content-center search-form">
        <a href="{{ url_for('add_author') }}" class="btn btn-success">Add Authors</a>
        <input type="text"
               name="search_query"
               class="form-control w-50 me-2"
               placeholder="Search for authors..."
                value="{{ request.args.get('search_query','') }}"
        >
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>



    <table  class="mb-4">
        <thead>
            <tr>
                <th>Name</th>
                <th>Birth date</th>
                <th>Biography</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.name }}</td>
                <td>{{ author.birth_date }}</td>
                <td>{{ author.biography }}</td>
                <td>
                    <form action="{{ url_for('delete_author',author_id=author.id) }}"
                          method="POST"
                          style="all:unset;display:inline"
                    >
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <form action="{{ url_for('update_author',author_id=author.id) }}"
                          method="GET"
                          style="all:unset;display:inline"
                    >
                        <button type="submit" class="btn btn-info">Update</button>
                    </form>

                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}